html {
    overflow-y: scroll; /* Ensures the scrollbar is always visible */
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;

    background-image: url("./images/foodImage.jpg");
    background-size: cover;       /* Ensures the image covers the entire area */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-attachment: fixed; /* Keeps the background fixed while the content scrolls */
    min-height: 100%;             /* Ensures the background covers the entire page */
    margin: 0;     
}

#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #606364;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top:20px;
    border:2px solid #606364;
    border-radius: 15px;
    width: 300px;
}

img {
    width:300px;
    height:auto;
    border: 2px solid grey;
  }

.button-active {
    background-color: grey;
    color:whitesmoke;
    
}

button {
    background: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ABA4aa;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.text{
    width:200px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    display:flex;
    gap:30px;
    
    
    padding:20px;
   
    justify-content: flex-end;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-text{
    margin-left: 15px;
}